* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrap {
  overflow: hidden;
}

.text-xxs {
  font-size: 0.5rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-xxl {
  font-size: 1.875rem;
}

.text-secttl {
  font-size: 10rem;
  padding-left: 3rem;
  padding-bottom: 10rem;
  position: relative;
}

@media (max-width: 959px) {
  .text-secttl {
    font-size: 4rem;
    padding-left: 0.5rem;
    padding-bottom: 5rem;
  }
}

.text-secttl::after {
  position: absolute;
  bottom: 10rem;
  left: 3.5rem;
  z-index: 2;
  content: '';
  width: 12rem;
  height: 5px;
  background-color: #FF0606;
}

@media (max-width: 959px) {
  .text-secttl::after {
    bottom: 4.5rem;
    left: 1rem;
    width: 5rem;
  }
}

.txt-pdttl {
  font-size: 4rem;
  padding-left: 1rem;
  padding-bottom: 10rem;
}

@media (max-width: 959px) {
  .txt-pdttl {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-bottom: 5rem;
  }
}

.bg-black {
  background-color: #000000;
}

.bg-black__opc50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black__opc30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-mainRed {
  background-color: rgba(254, 8, 8, 0.3);
}

.bg-mainGray {
  background-color: #231F1F;
}

.text-black {
  color: #000000;
}

.vh-80 {
  height: 80vh;
}

.vh-60 {
  height: 60vh;
}

.vh-50 {
  height: 50vh;
}

.vh-40 {
  height: 40vh;
}

.vh-30 {
  height: 30vh;
}

.vh-20 {
  height: 20vh;
}

.vh-15 {
  height: 15vh;
}

.vw-80 {
  width: 83vw;
}

.title {
  top: 400px;
  left: 100px;
  font-size: 100px;
}

@media (max-width: 959px) {
  .title {
    top: 100px;
    left: 15px;
    font-size: 3rem;
  }
}

.subtitle {
  top: 530px;
  left: 400px;
  font-size: 40px;
}

@media (max-width: 959px) {
  .subtitle {
    top: 10rem;
    left: 10rem;
    font-size: 1rem;
  }
}

.main-visual {
  height: 700px;
}

@media (max-width: 959px) {
  .main-visual {
    height: 600px;
    position: absolute;
    top: 40vh;
  }
}

@media (max-width: 767px) {
  .main-visual {
    height: 500px;
    position: absolute;
    top: 20vh;
  }
}

header {
  height: 100vh;
  background-color: #000000;
}

@media (max-width: 959px) {
  .order1 {
    order: 1;
  }
}

@media (max-width: 959px) {
  .order2 {
    order: 2;
  }
}

.flexbox {
  display: flex;
}

@media (max-width: 959px) {
  .flexbox {
    flex-direction: column;
  }
}

.secpdd {
  padding-top: 20rem;
}

@media (max-width: 959px) {
  .secpdd {
    padding-top: 10rem;
  }
}

.txt__about {
  height: 80vh;
}

@media (max-width: 959px) {
  .txt__about {
    height: 50vh;
  }
}

@media (max-width: 959px) {
  .selfphoto {
    height: 16rem;
    position: relative;
  }
}

.selfphoto__img {
  width: 30rem;
  height: 35rem;
  position: relative;
  z-index: 1;
}

@media (max-width: 959px) {
  .selfphoto__img {
    width: 13rem;
    height: 16rem;
  }
}

.bg-selfphoto {
  z-index: 0;
  width: 30rem;
  left: 4rem;
  height: 35rem;
  top: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

@media (max-width: 959px) {
  .bg-selfphoto {
    width: 13rem;
    height: 16rem;
    top: 1rem;
    left: 80px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.skill-icon {
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon__img {
  color: white;
  font-size: 3rem;
}

@media (max-width: 959px) {
  .skills-box {
    padding-bottom: 30rem;
  }
}

.products-img__Loveandbeer {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 959px) {
  .products-img__Loveandbeer {
    width: 82vw;
    height: 50vh;
  }
}

.products-img__ideabox {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 959px) {
  .products-img__ideabox {
    width: 82vw;
    height: 50vh;
  }
}

.pd-img {
  height: 100vh;
}

@media (max-width: 959px) {
  .pd-img {
    height: 50vh;
  }
}

.pd-txt {
  height: 100vh;
}

@media (max-width: 959px) {
  .pd-txt {
    height: 50vh;
  }
}

#page_top {
  width: 90px;
  height: 90px;
  position: fixed;
  right: 1rem;
  bottom: 2.5rem;
  opacity: 0.6;
  z-index: 3;
}

#page_top a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 2rem;
  color: #000000;
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  top: -5rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top a::after {
  content: 'PAGE TOP';
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #fff;
}
